html, body
{
  height: 100%;
  margin: 0;
}

body
{
background-image: linear-gradient(#3C3E66,#2E3133,#332826,#000000);
}

.header
{
	color: white;font-family: 'Yeon Sung';font-size: 45px;letter-spacing: 5px;margin-top: 80px;
}


.login_div
{
	background: rgba(255,255,255,0.8);float: none;border-radius: 15px;
	
}

.logo
{
	width: 80px;margin-top: 30px;border-radius: 40px;
}

#login_button
{
	width: 80%;border-radius: 15px;
}
label{
	text-align: left;
}
.form-group{
	text-align: left;
}